.main {
margin 0px;
padding 0px;
}

#cont {
    width: 100%;
    font-size: 75px;
    text-align: center;
    color: red;
}

body {
margin: 0px;
padding: 0px;
width: 100%;
height: auto;
background-color: #ffff99;
}

.name {
text-align: center;
color: red;
font-size: 55px;
font-family: sans-serif;
}

.name-field {
font-size: 25px;
}

.comment {
text-align: center;
}

.image {
text-align: center;
}

#ido {
color: red;
font-size: 30px;
}

#keido {
color: red;
font-size: 30px;
}

